<li>
    {{this.burger_name}}

    <button class="nom" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
        {{#if devoured}}<i class="fas fa-hamburger"></i>{{else}}<i class="fas fa-utensils"></i>{{/if}}
    </button>

    <button class="deleteBurger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
</li>
